
body{

}
h1 {
  font-size: 72px;
  text-align: center;
  color: #e51212;
}

header h2 {
  font-size: 24px;
  font-style: italic;
}

.content {
  padding-top: 0px;

  text-align: center;
  overflow: hidden;
  display: inline;
  width: 50%;
  margin: 0 auto;
}

.category{
 width:30%;
 align-items: center;
 margin: 0 auto;
}
.searchbar{

width: 50%;
align-items: center;
margin:0 auto;
}
.b{
  an-items: center;
  margin:0 auto;
}
