header {
  height: auto;
  padding: 32px;
}

header h1 {
  font-size: 48px;
}

header h2 {
  font-size: 24px;
  font-style: italic;
}

h3 {
  color: black;
}

.content {
  padding: 32px;
  width: 50%;
}
